@using IntroductionMVC5.Web.Utils.PagedList
@model IPagedList<IntroductionMVC5.Models.PastelInfo>

<div id="ajaxResponse">
    <div class="row">
        <div class="col-md-12">
            <h3>Proccesed weight</h3>
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new { @class = "pagination" })
            <table style="border-bottom: 1px solid #8A8575; margin-bottom: 5px; width:90%" class="table table-bordered">
                <thead>
                    <tr class="info">
                        <th>
                            WB number
                        </th>
                        <th>
                            Pastel Number
                        </th>
                        <th>
                            VAT Form\Number
                        </th>
                        <th>
                            Process date
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr class="active">
                        <td style="margin-right: 150px">
                            @Html.ActionLink(string.Format("{0}", item.WeighBridgeInfo.Id), "WeighBridgePrint", new { id = item.WeighBridgeInfo.Id }, new { @style = "  color: #F6855E;" })
                        </td>
                        <td style="margin-right: 150px;">
                            @Html.ActionLink(string.Format("{0}", item.PastelNumber), "GetPdf", new { FileName = item.FileLocation }, new { @style = "  color: #F6855E;" })
                        </td>
                        <td>
                            @if (item.VatFile != null && item.VatFile.Split('\\').Length > 1)
                            {
                                @Html.ActionLink(string.Format("{0}", item.VatFile.Split('\\').Last()), "GetPdf", new { FileName = item.VatFile }, new { @style = "  color: #F6855E;" })
                            }
                            else
                            {
                                @String.Format("{0}", item.VatFile)
                            }
                        </td>
                        <td>
                            @string.Format("{0}", item.Date.ToString("yyyy-MM-dd"))
                        </td>
                        <td>
                            @if (HttpContext.Current.User.IsInRole("Admin"))
                            {
                                <input class="btn btn-info btn-xs" style="font-size: small; font-weight: lighter; vert-align: middle" type="button" onclick=" location.href='@Url.Action("Edit", "WeighBridge", new {id = item.Id})    ' " value=" edit" />
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
