@model IntroductionMVC5.Web.ViewModel.ProcessViewModel

@{
    ViewBag.Title = "Process";
}

<h2>Process</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
<script>

    $(document).ready(function () {
        $("#UploadVatForm").hide();
        $("#EnterVatNumber").hide();

        $('#Vatgroup').click(function () {
            if ($("#BrowseFile").is(":checked")) {
                $("#UploadVatForm").show();
            } else {
                $("#UploadVatForm").hide();
            }

            if ($("#VatNumber").is(":checked")) {
                $("#EnterVatNumber").show();
            } else {
                $("#EnterVatNumber").hide();
            }
        });
    });
</script>
@using (Html.BeginForm("Process", "WeighBridge", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.Purchase.WeighBridgeInfo.Id)
        @Html.HiddenFor(model => model.Purchase.WeighBridgeInfo.FirstMass)
        @Html.HiddenFor(model => model.Purchase.WeighBridgeInfo.SecondMass)
        @Html.HiddenFor(model => model.Purchase.WeighBridgeInfo.Product)

        <div class="form-group" style="color: #5E5B54; font-size: large;">
            Weighbridge number
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Purchase.WeighBridgeInfo.Id, new { @readonly = "readonly", @style = "  color: #5E5B54; font-weight: bold; margin: 5px; padding-left: 2px", @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.Purchase.WeighBridgeInfo.Id)
        </div>
        <div class="form-group" style="color: #5E5B54; font-size: large;">
            @string.Format("{0}", "Payment type")
        </div>
        <div class="form-group">
            <p>
                @Html.RadioButtonFor(m => m.Purchase.PaymentType, "Cheque")<label style="margin-right: 10px">Cheque</label>
                @Html.RadioButtonFor(m => m.Purchase.PaymentType, "Transfer", new { @style = "margin-left: 20px" })<label>Transfer</label>
                @Html.RadioButtonFor(m => m.Purchase.PaymentType, "Cash", new { @style = "margin-left: 20px" })<label>Cash</label><br />
                @Html.TextBoxFor(model => model.Purchase.PaymentReference, new { @required = "required", @placeholder = "Reference number", @style = "width:150px;  color: #5E5B54; font-weight: bold; margin: 5px; padding-left: 2px", @class = "form-control", @type = "text" })
            </p>
        </div>
        <div class="form-group" style="color: #5E5B54; font-size: large;">
        </div>
        <div class="form-group" style="color: #5E5B54; font-size: large;">
            @Html.LabelFor(model => model.Purchase.WeighBridgeInfo.NettMass)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Purchase.WeighBridgeInfo.NettMass, new { @readonly = "readonly", @style = "  color: #5E5B54; font-weight: bold; margin: 5px; padding-left: 2px", @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.Purchase.WeighBridgeInfo.NettMass)
        </div>
        <div class="form-group" style="color: #5E5B54; font-size: large;">
            @Html.LabelFor(model => model.Purchase.WeighBridgeInfo.DateIn)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Purchase.WeighBridgeInfo.DateIn, new { @readonly = "readonly", @style = "  color: #5E5B54; font-weight: bold; margin: 5px; padding-left: 2px", @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.Purchase.WeighBridgeInfo.DateIn)
        </div>
        <div class="form-group" style="color: #5E5B54; font-size: large;">
            @Html.LabelFor(model => model.PastelInfo.PastelNumber)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.PastelInfo.PastelNumber, new { @style = "  color: #5E5B54; font-weight: bold; margin: 5px; padding-left: 2px", @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.PastelInfo.PastelNumber)
        </div>
        <div class="form-group" style="color: #5E5B54; font-size: large;">
            @string.Format("{0}", "Pastel file")
        </div>
        <div class="form-group">
            @Html.TextBox("PastelFile", "", new { type = "file" })
            @Html.ValidationMessageFor(model => model.PastelInfo.FileLocation)
        </div>
        <div class="form-group" style="color: #5E5B54; font-size: large;">
            @Html.LabelFor(model => model.SupplierInfo.SupplierName)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.SupplierInfo.SupplierName, new { @readonly = "readonly", @style = "  color: #5E5B54; font-weight: bold; margin: 5px; padding-left: 2px", @class = "form-control", @type = "text" })
        </div>

        <div class="form-group" style="color: #5E5B54; font-size: large;">
            Driver name
        </div>
        <div class="form-group">
            <input type="text" value='@string.Format("{0} {1}", @Model.Purchase.Driver.Firstname, @Model.Purchase.Driver.Surname)' class="form-control" style="color: #5E5B54; font-weight: bold; margin: 5px; padding-left: 2px" readonly="readonly" />
        </div>

        <div class="form-group" style="color: #5E5B54; font-size: large;margin-bottom: 2px">
            @string.Format("{0}", "VAT")
        </div>
        <div class="form-group">
            <p id="Vatgroup">
                <label style="margin-right: 10px"><input type="radio" name="group2" value="Browsefile" id="BrowseFile" />Browse...</label>
                <label><input type="radio" value="Vatnumber" name="group2" id="VatNumber" />Invoice number</label>
            </p>
        </div>
        <div class="form-group" id="UploadVatForm">
            @Html.TextBox("VatFile", "", new { type = "file" })
        </div>
        <div class="form-group" id="EnterVatNumber">
            @Html.TextBoxFor(model => model.PastelInfo.VatFile, new { @placeholder = "Vat number", @style = "width:150px;  color: #5E5B54; font-weight: bold; margin: 5px; padding-left: 2px", @class = "form-control", @type = "text" })
        </div>
        <p>
            <button class="btn btn-primary" value="Process" onclick=" location.href='@Url.Action("Process", "WeighBridge")' ">Process</button>
            <input class="btn btn-primary" value="Back" type="button" onclick=" location.href='@Url.Action("UnProcessed", "WeighBridge")' " />
        </p>
    </fieldset>
}