@using IntroductionMVC5.Models.Integrator
@using IntroductionMVC5.Web.Controllers
@model System.Collections.Generic.List<IntroductionMVC5.Models.Integrator.Purchase>

<div class="row" style="width: 1200px">
    <h3>Unprocessed Purchase</h3>
    <table style="border-bottom: 1px solid #8A8575; margin-bottom: 5px; width:150%" class="table table-bordered">
        <thead>
            <tr class="info">
                <th>
                    WB number
                </th>
                <th>
                    Product
                </th>
                <th>
                    Nett Mass
                </th>
                <th>
                    Supplier Name
                </th>
                <th>
                    Date
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    Total Price
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr class="active">
                <td>
                    @Html.ActionLink(string.Format("{0}", item.WeighBridgeInfo.Id), "WeighBridgePrint", new { id = item.WeighBridgeInfo.Id }, new { @style = "  color: #F6855E;" })
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.WeighBridgeInfo.Product)
                </td>
                <td>
                    @string.Format("{0} KG", item.WeighBridgeInfo.NettMass)
                </td>
                <td>
                    @string.Format("{0}", item.Driver.SupplierInfo.SupplierName)
                </td>
                <td>
                    @string.Format("{0}", item.WeighBridgeInfo.DateIn.ToString("yyyy-MM-dd"))
                </td>
                <td>
                    @string.Format("R{0}", item.Price)
                </td>
                <td>
                    @string.Format("R{0}", item.TotalPrice)
                </td>
                <td>
                    <input class="btn btn-warning btn-xs" style="font-size: small;font-weight: lighter; " type="button" onclick=" location.href='@Url.Action("Process", "WeighBridge", new { id = item.WeighBridgeInfo.Id })    ' " value=" process" />
                    @if (HttpContext.Current.User.IsInRole("Admin"))
                    {
                        <input class="btn btn-danger btn-xs" style="font-size: small;font-weight: lighter; " type="button" onclick=" location.href='@Url.Action("Delete", "WeighBridge", new { id = item.WeighBridgeInfo.Id })    ' " value=" delete" />
                    }
                </td>
            </tr>
        }
    </table>
</div>