@model List<IntroductionMVC5.Models.Integrator.Product>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("click", ".editPrice", function () {
            var prodId = $(this).data('id');
            var val = $('#dsp' + prodId).text().trim();
            $(".modal-body #prodId").val(prodId);
            $(".modal-body #productName").val(val);
            $(".modal-body #rustiviaPrice").val($('#txt' + prodId).text().trim());
        });
        //$(".SavePrice").hide();
        //$(".editCancel").hide();
        //$(document).on("click", ".editPrice", function () {
        //    var priceId = this.id;
        //    $('#txt' + priceId).attr('readonly', false);
        //    $('#sv' + priceId).show();
        //    $('#cn' + priceId).show();
        //    $(this).hide();
        //});
        //$(document).on("click", ".editCancel", function () {
        //    $(this).hide();
        //    $(".SavePrice").hide();
        //    $(".editPrice").show();
        //    var id = this.id;
        //    var priceId = id.replace("cn", "");
        //    $('#txt' + priceId).attr('readonly', true);
        //});
    });
</script>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="border-bottom: 1px solid #5D5A53; float: left; width: 100%; margin-top: 10px">
    <tr>
        <td style="width: 50%;">
            <input type="submit" class="btn btn-primary" value="Add Product" onclick=" location.href='@Url.Action("Create", "Product")' " />
        </td>
    </tr>
</table>

<h3>All Products</h3>

<table class="table table-bordered" style="width: 50%;">
    <thead>
        <tr class="info">
            <th>
                Product Name
            </th>
            <th>
                Rustivia Price
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr class="active">
            <td>
                <a href="@Url.Action("SpecialPrice", "Product", new { productId = item.Id })">
                    <strong>
                        <label id=@string.Format("dsp{0}", @item.Id)>
                            @item.Name
                        </label>
                    </strong>
                </a>
            </td>
            <td>
                <strong>
                    R <label id=@string.Format("txt{0}", @item.Id)>
                        @item.RustiviaPrice
                    </label>
                </strong>
            </td>
            <td>
                <a class="btn btn-primary btn-xs editPrice" data-toggle="modal" data-target="#messageModal" id="@item.Id" style="font-size: small; font-weight: lighter;" data-id="@item.Id">
                    Edit
                </a>
            </td>
        </tr>
    }
</table>
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            @using (Html.BeginForm("Edit", "Product", FormMethod.Post))
            {
                <div class="modal-body" style="align-content: center">
                    <div class="form-group">
                        <table>
                            <thead>
                                <tr class="info">
                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Rustivia Price
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                <td style="width: 70%">
                                    @Html.TextBox("Name", "", new { @class = "form-control", @readonly = "readonly", @id = "productName" })
                                </td>
                                <td>
                                    <div>
                                        @Html.TextBox("RustiviaPrice", "", new { @style = "width: 50%;font-size: large;", @class = "form-control text-info", @id = "rustiviaPrice" })
                                        @Html.TextBox("Id", "", new { @type = "hidden", @hidden = "true", @id = "prodId" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm pull-right"> Save</button>
                </div>
            }
        </div>
    </div>
</div>