@model System.Collections.Generic.List<IntroductionMVC5.Models.Integrator.SupplierInfo>

<div style="margin-top: 10px">
    <input style="margin-top: 10px" class="btn btn-primary" value="Back" type="button" onclick=" location.href='@Url.Action("Index", "Product")' " />
</div>

<div>
    <table class="table table-bordered" style="margin-bottom: 20px; margin-top: 10px">
        <thead>
            <tr class="info">
                <th>
                    @string.Format("Supplier Name")
                </th>
                <th>
                    @string.Format("Supplier Price")
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr class="active">
                <td style="margin-right: 150px">
                    @string.Format("{0}", item.SupplierName)
                </td>
                <td style="margin-right: 150px">
                    @string.Format("R {0}", item.SupplierProducts.FirstOrDefault(d => d.ProductId == (int)@ViewBag.ProductId) != null ? item.SupplierProducts.FirstOrDefault(d => d.ProductId == (int)@ViewBag.ProductId).SupplierPrice : 0)
                </td>
            </tr>
        }
    </table>
</div>