@using IntroductionMVC5.Models
@model IEnumerable<IntroductionMVC5.Models.Integrator.Container>

<table class="table table-bordered" style="margin-top: 10px;width: 1200px">
    <thead>
        <tr class="info">
            <th>
                Date In
            </th>
            <th>
                Client
            </th>
            <th>
                Booking Referene
            </th>
            <th>
                Container Number
            </th>
            <th>
                Seal number
            </th>
            <th>
                Tare weight
            </th>
            <th>
                Nett weight
            </th>
            <th>
                Date released
            </th>
            <th>
                Invoice
            </th>
            <th>
                Paid?
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr class="active">
            <td>
                @string.Format("{0}", item.DateIn.Date.ToString("yyyy-MM-dd"))
            </td>
            <td>
                @string.Format("{0}", item.Booking.Customer.CustomerName)
            </td>
            <td>
                @string.Format("{0}", item.Booking.Reference)
            </td>
            <td>
                @string.Format("{0}", item.ContainerNumber)
            </td>
            <td>
                @string.Format("{0}", item.Sealnumber)
            </td>
            <td>
                @string.Format("{0} KG", item.TareWeight)
            </td>
            <td>
                @string.Format("{0} KG", item.NettWeight)
            </td>
            <td>
                @string.Format("{0}", item.WeighBridgeInfo.DateOut != null ? item.WeighBridgeInfo.DateOut.Value.ToString("yyyy-MM-dd") : string.Empty)
            </td>
            <td>
                @{
        var pastelInfo = ((List<PastelInfo>)ViewBag.PastelInfos).FirstOrDefault(d => d.WeighBridgeInfo.Id == item.WeighBridgeInfo.Id);
                }
                @if (pastelInfo != null)
                {
                    @String.Format("{0}", pastelInfo.PastelNumber)
                }
            </td>
            <td>
                @if (item.Paid)
                {
                    <span style="color: green" class="glyphicon glyphicon-ok"></span>

                }
                else
                {
                    <span style="color: red" class="glyphicon glyphicon-remove"></span>
                }
            </td>
            <td>
                <input type="submit" id="button" class="btn btn-info btn-xs" value="Details" onclick=" location.href='@Url.Action("EditCompletedContainer", "Customer", new { id = item.Id })    ' " />
            </td>
        </tr>
    }
</table>

