@using IntroductionMVC5.Models
@using IntroductionMVC5.Web.Controllers
@using IntroductionMVC5.Web.Utils
@model IntroductionMVC5.Models.Integrator.Customer

@{
    ViewBag.Title = "Customer -" + String.Format("{0}", Model.CustomerName);
}
<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>

<div style="margin-top: 10px">
    <input style="margin-top: 10px" class="btn btn-primary" type="button" onclick=" location.href='@Url.Action("Index", "Customer")    ' " value=" back" />
</div>
<h1>@Model.CustomerName</h1>

<p>
    <img src=" @Url.Content("~/Content/img/" + @Model.Logo) " />
</p>

<div>
    @Html.ActionLink("ADD BOOKING", "AddBooking", new { id = @Model.Id }, new { @style = "  color: #F6855E;" })
    <table style="border-bottom: 1px dotted #8A8575; margin-bottom: 5px; width:70%" class="table table-bordered">
        <tr>
            <td>
                <em style="color: #5E5B54; font-size: large; font-weight: bold;">Customer Name:</em>
            </td>
            <td>
                <input type="text" readonly="readonly" class="form-control" value=' @Model.CustomerName ' />
            </td>
        </tr>
        <tr>
            <td>
                <em style="color: #5E5B54; font-size: large; font-weight: bold;">Customer Code:</em>
            </td>
            <td>
                <input type="text" readonly="readonly" class="form-control" value=' @Model.Suppliercode ' />
            </td>
        </tr>
        <tr>
            <td>
                <em style="color: #5E5B54; font-size: large; font-weight: bold;">Company reg number:</em>
            </td>
            <td>
                <input type="text" readonly="readonly" class="form-control" value=' @Model.CompanyRegNumber ' />
            </td>
        </tr>
        <tr>
            <td>
                <em style="color: #5E5B54; font-size: large; font-weight: bold;">VAT number:</em>
            </td>
            <td>
                <input type="text" readonly="readonly" class="form-control" value=' @Model.VatNumber ' />
            </td>
        </tr>
        <tr>
            <td>
                <em style="color: #5E5B54; font-size: large; font-weight: bold;">Tell Number:</em>
            </td>
            <td>
                <input type="text" readonly="readonly" class="form-control" value=' @Model.TellNumber ' />
            </td>
        </tr>
        <tr>
            <td>
                <em style="color: #5E5B54; font-size: large; font-weight: bold;">Address:</em>
            </td>
            <td>
                <textarea rows="5" class="form-control" disabled="disabled">@Model.Address </textarea>
            </td>
            <td>
                @*                @if (HomeController.CanEdit)*@
                @*                {*@
                @*                    @Html.ActionLink("Edit", "Edit", new { id = @Model.SupplierInfo.Id }, new { @style = "  color: lightseagreen;" })*@
                @*                }*@
            </td>
        </tr>
    </table>
    <div>

        <h2>Customer Bookings</h2>

        <table class="table table-bordered" style="margin-bottom: 20px; margin-top: 10px">
            <thead>
                <tr class="info">
                    <th>
                        @string.Format("Reference number")
                    </th>
                    <th>
                        @string.Format("Date in")
                    </th>
                    <th>
                        @string.Format("Date out")
                    </th>
                    <th>
                        @string.Format("Status")
                    </th>
                    <th>
                        @string.Format("Containers")
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model.Bookings)
            {
                <tr class="active">
                    <td>
                        @Html.DisplayFor(modelitem => item.Reference)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.DateIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.DateOut)
                    </td>
                    <td style="margin-right: 150px">
                        @Html.DisplayFor(modelitem => item.Status)
                    </td>
                    <td style="margin-right: 150px">
                        @Html.ActionLink(string.Format("{0}", item.Containers.Count(a => a.Status == Statuses.Waiting || a.Status == Statuses.FirstWeight)), "BookingContainers", new { referenceNumber = item.Reference }, new { @style = "  color: #F6855E;" })
                    </td>
                    <td style="margin-right: 150px">
                        @Html.ActionLink("Add container", "AddContainer", new { id = item.Reference }, new { @style = "  color: #F6855E;" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>