@model IntroductionMVC5.Models.Integrator.SupplierInfo

@{
    ViewBag.Title = "Create Supplier";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Supplier</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.SupplierName)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.SupplierName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Suppliercode)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Suppliercode, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.Suppliercode)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyRegNumber)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.CompanyRegNumber, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.CompanyRegNumber)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VatNumber)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.VatNumber, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.VatNumber)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TellNumber)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.TellNumber, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.TellNumber)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="form-group">
            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @type = "text", @rows = "5" })
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="form-group" style="display: none; visibility: hidden;">
            @Html.LabelFor(model => model.Logo)
        </div>
        <div class="form-group" style="display: none; visibility: hidden;">
            @Html.TextBoxFor(model => model.Logo)
            @Html.ValidationMessageFor(model => model.Logo)
        </div>
        <p>
            <button  class="btn btn-primary" value="Back" onclick=" location.href='@Url.Action("Create", "Supplier")' ">Create</button>
            <input class="btn btn-primary" type="button" onclick=" location.href='@Url.Action("Index", "Supplier")' " value=" back" />
        </p>
    </fieldset>
}
