@using IntroductionMVC5.Models
@using IntroductionMVC5.Models.Integrator
@using IntroductionMVC5.Models.PettyCash
@using IntroductionMVC5.Web.Models
@using Microsoft.AspNet.Identity
@model IntroductionMVC5.Web.ViewModel.SupplierDetailsViewModel

@{
    ViewBag.Title = "Details";
}
<script>
    $(document).ready(function () {
        // store the currently selected tab in the hash value
        $("ul.nav-pills > li > a").on("shown.bs.tab", function (e) {
            var id = $(e.target).attr("href").substr(1);
            window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#myTab a[href="' + hash + '"]').tab('show');

        $(document).on("click", ".editPrice", function () {
            var prodId = $(this).data('id');
            var suppId = this.id;
            var val = $('#txt' + prodId).text().trim();
            var dsp = $('#dsp' + prodId).text().trim();
            $(".modal-body #prodId").val(prodId);
            $(".modal-body #supplierPrice").val(val);
            $(".modal-body #productName").val(dsp);
            $(".modal-body #supplierId").val(suppId);
        });

        $(document).on("click", ".editBankAccount", function () {
            var prodId = $(this).data('id');
            var bankN = $('#bankN' + prodId).text().trim();
            var bankA = $('#bankA' + prodId).text().trim();
            var bankB = $('#bankB' + prodId).text().trim();

            $(".modal-body #bankName").val(bankN);
            $(".modal-body #branchNumber").val(bankB);
            $(".modal-body #accountNumber").val(bankA);
            $(".modal-body #Id").val(prodId);
        });
    });
</script>

<div style="margin-top: 10px" class="pull-right">
    <input style="margin-top: 10px" class="btn btn-primary" value="Back" type="button" onclick=" location.href='@Url.Action("Index", "Supplier")    ' " />
</div>
<h1>@Model.SupplierInfo.SupplierName</h1>
<p>
    <img src=" @Url.Content("~/Content/img/" + @Model.SupplierInfo.Logo) " />
</p>

<div class="row" style="border-top-style: solid;border-top-width: 1px;border-color: grey">
    <div class="col-lg-2">
        <div class="bs-component">
            <ul class="nav nav-pills nav-stacked" id="myTab" style="margin-top: 3px">
                <li class="active">
                    <a href="#Info" data-toggle="tab">
                        <strong>  Info</strong>
                    </a>
                </li>
                <li>
                    <a href="#BankAccount" data-toggle="tab">
                        <strong>  Bank Accounts</strong>
                    </a>
                </li>
                <li>
                    <a href="#Products" data-toggle="tab">
                        <strong>
                            Products
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="#history" data-toggle="tab">
                        <strong>
                            Delivery History
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="#drivers" data-toggle="tab">
                        <strong>
                            Drivers
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="#trucks" data-toggle="tab">
                        <strong>
                            Trucks
                        </strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-10" style="border-left-style: solid;border-left-width: 1px;border-color: grey">
        <div class="tab-content">
            <div id="Info" class="tab-pane fade active in">
                <table style="border-bottom: 1px solid #8A8575; margin-bottom: 5px; width:100%" class="table table-bordered">
                    <tr>
                        <td><em style="color: #5E5B54; font-size: large; font-weight: bold;">Status</em></td>
                        <td>
                            @if (@Model.SupplierInfo.IsBlocked)
                            {
                                <em style="color: red; font-size: large; font-weight: bold;">Blocked</em>
                            }
                            else
                            {
                                <em style="color: green; font-size: large; font-weight: bold;">Active</em>
                            }
                        </td>
                    </tr>
                    @if (HttpContext.Current.User.IsInRole("Admin"))
                    {
                        <tr>
                            <td style="width: 40%">
                                <em style="color: #5E5B54; font-size: large; font-weight: bold;">Sales Rep:</em>
                            </td>
                            <td>
                                @{
                        var userName = "";
                        var userManager = (UserManager<ApplicationUser>)ViewBag.UserManager;
                        var applUser = new ApplicationUser();
                        if (@Model.SupplierInfo.UserId != null)
                        {
                            applUser = userManager.FindById(@Model.SupplierInfo.UserId);
                        }
                        userName = String.Format("{0}", @applUser.UserName);
                        <strong> @userName</strong>
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td style="width: 40%">
                            <em style="color: #5E5B54; font-size: large; font-weight: bold;">Supplier Name:</em>
                        </td>
                        <td>
                            <input type="text" readonly="readonly" class="form-control" value=' @Model.SupplierInfo.SupplierName ' />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <em style="color: #5E5B54; font-size: large; font-weight: bold;">Supplier Code:</em>
                        </td>
                        <td>
                            <input type="text" readonly="readonly" class="form-control" value=' @Model.SupplierInfo.Suppliercode ' />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <em style="color: #5E5B54; font-size: large; font-weight: bold;">Company registration number:</em>
                        </td>
                        <td>
                            <input type="text" readonly="readonly" class="form-control" value=' @Model.SupplierInfo.CompanyRegNumber ' />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <em style="color: #5E5B54; font-size: large; font-weight: bold;">VAT number:</em>
                        </td>
                        <td>
                            <input type="text" readonly="readonly" class="form-control" value=' @Model.SupplierInfo.VatNumber ' />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <em style="color: #5E5B54; font-size: large; font-weight: bold;">Tell Number:</em>
                        </td>
                        <td>
                            <input type="text" readonly="readonly" class="form-control" value=' @Model.SupplierInfo.TellNumber ' />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <em style="color: #5E5B54; font-size: large; font-weight: bold;">Address:</em>
                        </td>
                        <td>
                            <textarea rows="5" class="form-control" disabled="disabled">@Model.SupplierInfo.Address </textarea>
                        </td>
                        <td>
                            @if (System.Web.HttpContext.Current.User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = @Model.SupplierInfo.Id }, new { @class = "btn btn-primary" })
                            }
                        </td>
                    </tr>
                </table>
            </div>

            <div id="BankAccount" class="tab-pane fade">
                <table>
                    <tr>
                        <td>
                            <div style="width: 1000px">
                                <input style="margin-top: 10px" data-toggle="modal" data-target="#bankAccountModal" class="btn btn-primary" value="Add Bank Account" type="button" />
                                <table class="table table-bordered" style="margin-bottom: 20px; margin-top: 10px;width: 80%">
                                    <thead>
                                        <tr class="info">
                                            <th>
                                                @string.Format("Bank Name")
                                            </th>
                                            <th>
                                                @string.Format("Account Number")
                                            </th>
                                            <th>
                                                @string.Format("Branch Number")
                                            </th>
                                        </tr>
                                    </thead>
                                    @foreach (BankAccount bankAccount in Model.SupplierBankAccounts)
                                    {
                                        <tr class="active">
                                            <td>
                                                <i id=@string.Format("bankN{0}", @bankAccount.Id)>
                                                    @string.Format("{0}", @bankAccount.BankName)
                                                </i>
                                            </td>
                                            <td>
                                                <i id=@string.Format("bankA{0}", @bankAccount.Id)>
                                                    @string.Format("{0}", @bankAccount.AccountNumber)
                                                </i>
                                            </td>
                                            <td>
                                                <i id=@string.Format("bankB{0}", @bankAccount.Id)>
                                                    @string.Format("{0}", @bankAccount.BranchNumber)
                                                </i>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-xs editBankAccount" data-toggle="modal" data-target="#editBankACcountModal" id="@bankAccount.Id" style="font-size: small; font-weight: lighter;" data-id="@bankAccount.Id">
                                                    Edit
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            @if (ViewBag.ErrorMessage != null)
                                            {
                                                <td colspan="3">
                                                    <strong>@ViewBag.ErrorMessage</strong>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="Products" class="tab-pane fade">
                <table>
                    <tr>
                        <td>
                            <div style="width: 1000px">
                                <input style="margin-top: 10px" data-toggle="modal" data-target="#productModal" class="btn btn-primary" value="Add Product" type="button" />
                                <table class="table table-bordered" style="margin-bottom: 20px; margin-top: 10px;width: 80%">
                                    <thead>
                                        <tr class="info">
                                            <th>
                                                @string.Format("Name")
                                            </th>
                                            <th>
                                                @string.Format("Rustivia Price")
                                            </th>
                                            <th>
                                                @string.Format("Supplier Price")
                                            </th>
                                        </tr>
                                    </thead>
                                    @foreach (SupplierProduct product in Model.SupplierProducts)
                                    {
                                        <tr class="active">
                                            <td>
                                                <label id=@string.Format("dsp{0}", @product.ProductId)>
                                                    @string.Format("{0}", @product.Product.Name)
                                                </label>
                                            </td>
                                            <td>
                                                @string.Format("R {0}", @product.Product.RustiviaPrice)
                                            </td>
                                            <td>
                                                R <label id=@string.Format("txt{0}", @product.ProductId)>
                                                    @string.Format("{0}", @product.SupplierPrice)
                                                </label>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-xs editPrice" data-toggle="modal" data-target="#messageModal" id="@product.SupplierId" style="font-size: small; font-weight: lighter;" data-id="@product.ProductId">
                                                    Edit
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            @if (ViewBag.ErrorMessage != null)
                                            {
                                                <td colspan="3">
                                                    <strong>@ViewBag.ErrorMessage</strong>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="history" class="tab-pane fade">
                <table class="table table-bordered" style="margin-bottom: 20px; margin-top: 10px">
                    <thead>
                        <tr class="info">
                            <th>
                                @string.Format("WB number")
                            </th>
                            <th>
                                @string.Format("Delivery date")
                            </th>
                            <th>
                                @string.Format("Pastel Number")
                            </th>
                            <th>
                                @string.Format("Process date")
                            </th>
                            <th>
                                @string.Format("VAT Form\\Number")
                            </th>
                            <th>
                                @string.Format("Net mass")
                            </th>
                        </tr>
                    </thead>
                    @foreach (PastelInfo item in Model.PastelInfos)
                    {
                        <tr class="active">
                            <td style="margin-right: 150px">
                                @string.Format("{0}", item.WeighBridgeInfo.Id)
                            </td>
                            <td>
                                @string.Format("{0}", item.WeighBridgeInfo.DateIn.ToString("yyyy-MM-dd"))
                            </td>
                            <td style="margin-right: 150px">
                                @Html.ActionLink(string.Format("{0}", item.PastelNumber), "GetPdf", new { FileName = item.FileLocation }, new { @style = "color:#F6855E;" })
                            </td>
                            <td>
                                @string.Format("{0}", item.Date.ToString("yyyy-MM-dd"))
                            </td>
                            <td>
                                @if (item.VatFile != null && item.VatFile.Split('\\').Length > 1)
                                {
                                    @Html.ActionLink(string.Format("{0}", item.VatFile.Split('\\').Last()), "GetPdf", new { FileName = item.VatFile }, new { @style = "  color: #F6855E;" })
                                }
                                else
                                {
                                    @String.Format("{0}", item.VatFile)
                                }
                            </td>
                            <td style="margin-right: 150px;">
                                @String.Format("{0} KG", item.WeighBridgeInfo.NettMass)
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div id="drivers" class="tab-pane fade">
                <table>
                    <tr>
                        <td>
                            <div style="width: 1200px">
                                <table class="table table-bordered" style="margin-bottom: 20px; margin-top: 10px;width: 50%">
                                    <thead>
                                        <tr class="info">
                                            <th>
                                                @string.Format("Name")
                                            </th>
                                            <th>
                                                @string.Format("Id number/Passport")
                                            </th>
                                        </tr>
                                    </thead>
                                    @foreach (Driver driver in Model.SupplierInfo.Drivers)
                                    {
                                        <tr class="active">

                                            <td style="margin-right: 150px">
                                                @string.Format("{0} {1}", @driver.Firstname, @driver.Surname)
                                            </td>
                                            <td>
                                                @string.Format("{0}", @driver.IdNumber)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="trucks" class="tab-pane fade">
                <table>
                    <tr>
                        <td>
                            <div style="width: 1000px">
                                <table class="table table-bordered" style="margin-bottom: 20px; margin-top: 10px;width: 20%">
                                    <thead>
                                        <tr class="info">
                                            <th>
                                                @string.Format("Name")
                                            </th>
                                        </tr>
                                    </thead>
                                    @foreach (Truck truck in Model.SupplierInfo.Trucks)
                                    {
                                        <tr class="active">

                                            <td style="margin-right: 100px">
                                                @string.Format("{0}", @truck.TruckRegNumber)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: lightblue">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">New Product</h4>
                </div>
                @using (Html.BeginForm("AddProduct", "Supplier", new { supplierId = @Model.SupplierInfo.Id }, FormMethod.Post))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            @{ Html.RenderPartial("_AddProduct", new SupplierProduct()); }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="bankAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: lightblue">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">New Product</h4>
                </div>
                @using (Html.BeginForm("AddBankAccount", "Supplier", new { supplierId = @Model.SupplierInfo.Id }, FormMethod.Post))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            @{ Html.RenderPartial("_AddBankAccount", new BankAccount()); }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: lightblue">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edit Product</h4>
            </div>
            @using (Html.BeginForm("EditSupplierProduct", "Supplier", FormMethod.Post))
            {
                <div class="modal-body" style="align-content: center">
                    <div class="form-group">
                        <table>
                            <thead>
                                <tr class="info">
                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Supplier Price
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                <td style="width: 70%">
                                    @Html.TextBox("Product.Name", "", new { @class = "form-control", @readonly = "readonly", @id = "productName" })
                                </td>
                                <td>
                                    <div>
                                        @Html.TextBox("SupplierPrice", "", new { @style = "width: 50%;font-size: large;", @class = "form-control text-info", @id = "supplierPrice" })
                                        @Html.TextBox("ProductId", "", new { @type = "hidden", @hidden = "true", @id = "prodId" })
                                        @Html.TextBox("SupplierId", "", new { @type = "hidden", @hidden = "true", @id = "supplierId" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm pull-right"> Save</button>
                </div>
            }
        </div>
    </div>
</div>
<!--Edit Bank Account-->
<div class="modal fade" id="editBankACcountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: lightblue">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edit Bank Account</h4>
            </div>
            @using (Html.BeginForm("EditSupplierBankAccount", "Supplier", FormMethod.Post))
            {
                <div class="modal-body" style="align-content: center">
                    <div class="form-group">
                        <table>
                            <thead>
                                <tr class="info">
                                    <th>
                                        Bank Name
                                    </th>
                                    <th>
                                        Account Number
                                    </th>
                                    <th>
                                        Branch Number
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    @Html.TextBox("BankAccount.BankName", "", new { @class = "form-control", @id = "bankName" })
                                </td>
                                <td>
                                    @Html.TextBox("BankAccount.AccountNumber", "", new { @class = "form-control", @id = "accountNumber" })
                                </td>
                                <td>
                                    @Html.TextBox("BankAccount.BranchNumber", "", new { @class = "form-control", @id = "branchNumber" })
                                </td>
                                <td style="visibility: hidden">
                                    @Html.TextBox("BankAccount.Id", "", new { @class = "form-control", @id = "Id" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm pull-right"> Save</button>
                </div>
            }
        </div>
    </div>
</div>