@using IntroductionMVC5.Web.Utils.PagedList
@model IPagedList<IntroductionMVC5.Models.Integrator.SupplierInfo>

@{
    ViewBag.Title = "Suppliers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="border-bottom: 1px solid #5D5A53; float: left; width: 100%;">
    <tr>
        <td style="width: 50%">
            <input type="submit" id="button" class="btn btn-primary" value="Add Supplier" onclick=" location.href='@Url.Action("Create", "Supplier")    ' " />
        </td>
        <td style="margin: 5px; text-align: right; width: 100%;">
            @{ Html.RenderPartial("_NameSearch", "Supplier");}
        </td>
    </tr>
</table>

<h3>All Supplier</h3>
<div id="ajaxResponse">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new { @class = "pagination" })
    <table class="table table-bordered">
        <thead>
            <tr class="info">
                <th>
                    Supplier Name
                </th>
                <th>
                    Supplier Code
                </th>

                <th>
                    Reigtration number
                </th>

                <th>
                    Phone number
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr class="active">
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suppliercode)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CompanyRegNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TellNumber)
                </td>
                <td>
                    <input type="submit" id="button" class="btn btn-info btn-xs" value="Details" onclick=" location.href='@Url.Action("Details", "Supplier", new { id = item.Id })    ' " />
                </td>
            </tr>
        }
    </table>
</div>
