@using iTextSharp.text.pdf.qrcode
@model IntroductionMVC5.Models.Integrator.Driver

@{
    ViewBag.Title = "Copy";
}

<h2>Copy Driver Details</h2>

@using (Html.BeginForm("Copy", "Driver", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Driver</legend>
        @if (!string.IsNullOrEmpty(ViewBag.Notification))
        {
            <div class="alert alert-dismissible alert-danger">
                <strong>
                    @ViewBag.Notification
                </strong>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Firstname, new { maxlength = 20 })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control", @type = "text", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Firstname)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", @type = "text", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Gender, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Gender)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IdNumber)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.IdNumber, new { @class = "form-control", @type = "text", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.IdNumber)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IdLocation)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.IdLocation, new { @class = "form-control", type = "text", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.IdLocation)
        </div>
        <div class="form-group">
            Supplier
        </div>
        <div class="form-group">
            @Html.DropDownList("Id", (SelectList)ViewBag.Id, string.Empty, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SupplierInfo)
        </div>
        <div class="form-group" style="display: none; visibility: hidden;">
            @Html.LabelFor(model => model.ImageName)
        </div>
        <div class="form-group" style="display: none; visibility: hidden;">
            @Html.TextBoxFor(model => model.ImageName, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.ImageName)
        </div>
        <p>
            <button value="Create" class="btn btn-primary" onclick=" location.href='@Url.Action("Copy", "Driver")' ">Move</button>
            <input type="button" class="btn btn-primary" onclick=" location.href='@Url.Action("Index", "Driver")    ' " value=" back" />
        </p>
    </fieldset>
}