@using IntroductionMVC5.Models
@model IntroductionMVC5.Web.ViewModel.DriverDetailsViewModel

@{
    ViewBag.Title = "Driver -" + String.Format("{0}", Model.Driver.Firstname);
}

<h2>@string.Format("{0} {1}", @Model.Driver.Firstname, @Model.Driver.Surname)</h2>

<p>
    <img alt="@Model.Driver.Firstname" src="@Url.Content(String.Format("~/Content/img/{0}", @Model.Driver.ImageName))" />
</p>
<table style="border-bottom: 1px dotted #8A8575; margin-bottom: 5px" class="table table-bordered">
    <tr>
        <td>
            <em style="color: #5E5B54; font-size: large; font-weight: bold;">First Name:</em>
        </td>
        <td>
            <input type="text" readonly="readonly" class="form-control" style="color: #5E5B54; font-weight: bold; margin: 5px; padding-left: 2px" value=' @Model.Driver.Firstname ' />
        </td>
    </tr>

    <tr>
        <td>
            <em style="color: #5E5B54; font-size: large; font-weight: bold;">Surname:</em>
        </td>
        <td>
            <input type="text" readonly="readonly" class="form-control" style="color: #5E5B54; font-weight: bold; margin: 5px; padding-left: 2px" value=' @Model.Driver.Surname ' />
        </td>
    </tr>
    <tr>
        <td>
            <em style="color: #5E5B54; font-size: large; font-weight: bold;">Gender:</em>
        </td>
        <td>
            <input type="text" readonly="readonly" class="form-control" style="color: #5E5B54; font-weight: bold; margin: 5px; padding-left: 2px" value=' @Model.Driver.Gender ' />
        </td>
    </tr>
    <tr>
        <td>
            <em style="color: #5E5B54; font-size: large; font-weight: bold;">ID number\Passport:</em>
        </td>
        <td>
            <input type="text" readonly="readonly" class="form-control" style="color: #5E5B54; font-weight: bold; margin: 5px; padding-left: 2px" value=' @Model.Driver.IdNumber ' />
        </td>
    </tr>
    <tr>
        <td>
            <em style="color: #5E5B54; font-size: large; font-weight: bold;">Supplier:</em>
        </td>
        <td>
            <input type="text" readonly="readonly" class="form-control" style="color: #5E5B54; font-weight: bold; margin: 5px; padding-left: 2px" value=' @Model.Driver.SupplierInfo.SupplierName ' />
        </td>
    </tr>
    <tr>
        <td>
            <em style="color: #5E5B54; font-size: large; font-weight: bold;">ID number\Passport file:</em>
        </td>
        <td>
            @Html.ActionLink(string.Format("{0} {1}\'s ID - {2}", @Model.Driver.Surname,
                @Model.Driver.Firstname, @Model.Driver.IdNumber), "GetPdf", new { FileName = @Model.Driver.IdLocation }, new { @style = "color:#F6855E;" })
        </td>
        <td>
            @if (System.Web.HttpContext.Current.User.IsInRole("Admin") && !@Model.Driver.IsBlocked)
            {
                @Html.ActionLink("Edit", "Edit", new { id = @Model.Driver.Id }, new { @style = "  color: lightseagreen;font-size: large" })
            }
        </td>
    </tr>
</table>
<div>
    <h1>Delivery history</h1>
    <table class="table table-bordered" style="border-bottom: 1px dotted #8A8575; margin-bottom: 20px; margin-top: 10px;">
        <thead>
            <tr class="info">
                <th>
                    @string.Format("Transaction number")
                </th>
                <th>
                    @string.Format("Delivery date")
                </th>
                <th>
                    @string.Format("Pastel Number")
                </th>
                <th>
                    @string.Format("Process date")
                </th>

                <th>
                    @string.Format("Net mass")
                </th>
            </tr>
        </thead>
        @foreach (PastelInfo item in Model.PastelInfos)
        {
            <tr class="active">
                <td style="margin-right: 150px">
                    @Html.ActionLink(string.Format("{0}", item.WeighBridgeInfo.Id), "WeighBridgePrint", new { id = item.WeighBridgeInfo.Id }, new { @style = "color:#F6855E;" })
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.WeighBridgeInfo.DateIn)
                </td>
                <td style="margin-right: 150px">
                    @Html.ActionLink(string.Format("{0}", item.PastelNumber), "GetPdf", new { FileName = item.FileLocation }, new { @style = "color:#F6855E;" })
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Date)
                </td>
                <td style="margin-right: 150px;">
                    @Html.DisplayFor(modelitem => item.WeighBridgeInfo.NettMass)
                </td>
            </tr>
        }
    </table>
    <div>
        <input class="btn btn-primary" type="button" onclick=" location.href='@Url.Action("Index", "Driver")    ' " value=" back" />
    </div>
</div>