@using IntroductionMVC5.Web.Utils.PagedList
@model IPagedList<IntroductionMVC5.Models.Integrator.Driver>
@{
    ViewBag.Title = "Drivers";
}


<table style="border-bottom: 1px solid #5D5A53; float: left; width: 100%;">
    <tr>
        <td style="width: 50%">
            <input type="submit" class="btn btn-primary" value="Add Driver" onclick=" location.href='@Url.Action("Create", "Driver")    ' " />
        </td>
        <td style="margin: 5px; text-align: right; width: 100%;">
            @{ Html.RenderPartial("_NameSearch", "Driver");}
        </td>
    </tr>
</table>

<div data-bind="template: {name:'driver', foreach:drivers}" id="album-list" style="width: 100%">
</div>
<h3>All Drivers</h3>
@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new { @class = "pagination" })
<table class="table table-bordered">
    <thead>
        <tr class="info">
            <th>
                First Name
            </th>
            <th>
                Surname
            </th>

            <th>
                Id/Passport
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr class="active">
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IdNumber)
            </td>
            <td>
                @if (item.IsBlocked)
                {
                    <p style="color: red">Blocked</p>
                }
                else
                {
                    <p style="color: green">Active</p>
                }
            </td>
            <td>
                <input type="submit" id="button" class="btn btn-info btn-xs" value="Details" onclick=" location.href='@Url.Action("Details", "Driver", new { id = item.Id })    ' " />
            </td>
        </tr>
    }
</table>