@using IntroductionMVC5.Web.Utils
@model System.Collections.Generic.List<IntroductionMVC5.Models.Integrator.Container>

<div id="DeletedDiv">
    <h3>Deleted Sale</h3>
    <table style="border-bottom: 1px solid #8A8575; margin-bottom: 5px; width:90%" class="table table-bordered">
        <thead>
            <tr class="info">
                <th scope="col">
                    Weighbridge number
                </th>
                <th scope="col">
                    Nett weight
                </th>
                <th scope="col">
                    Container number
                </th>
                <th scope="col">
                    Booking
                </th>
                <th scope="col">
                    Date in
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr class="active">
                <td style="margin-right: 150px">
                    @Html.ActionLink(string.Format("{0}", item.WeighBridgeInfo.Id), "WeighBridgePrint", new { id = item.WeighBridgeInfo.Id }, new { @style = "  color: #F6855E;" })
                </td>
                <td style="margin-right: 150px;">
                    @string.Format("{0}", item.WeighBridgeInfo.NettMass)
                </td>
                <td style="margin-right: 150px;">
                    @String.Format("{0}", item.ContainerNumber)
                </td>
                <td style="margin-right: 150px;">
                    @Html.DisplayFor(modelitem => item.Booking.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.WeighBridgeInfo.DateIn)
                </td>
            </tr>
        }
    </table>
</div>