@model IntroductionMVC5.Models.Integrator.Container

@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}


<div style="border-bottom-width: 1px;border-bottom-color: black; border-bottom-style: solid;align-content: center">
    <blockquote>
        <p style="margin-bottom: 5px;align-content: center">
            <strong style='font-size:20px'>
                Container Loading Sheet
            </strong>
        </p>
    </blockquote>
    <br />
</div>
<table style="width: 320px" class="table table-bordered">
    <tr style="margin-bottom: 10px">
        <td width="30%" style="margin-bottom: 10px; border-top-style:dotted;border-top-width: 1px;">
            <strong>
                Customer name:
            </strong>
        </td>
        <td style="margin-bottom: 10px; border-top-style: dotted;border-top-width: 1px;">
            @Model.Booking.Customer.CustomerName
        </td>
    </tr>
    <tr style="margin-bottom: 10px">
        <td width="30%">
            <strong>
                Container number:
            </strong>
        </td>
        <td>
            @string.Format("{0}", @Model.ContainerNumber)
        </td>
    </tr>

    <tr style="margin-bottom: 10px">
        <td width="30%">
            <strong>
                Product:
            </strong>
        </td>
        <td>
            @string.Format("{0}", @Model.Product)
        </td>
    </tr>
    <tr style="margin-bottom: 10px">
        <td width="30%">
            <strong>
                Seal Number:
            </strong>
        </td>
        <td>
            @string.Format("{0}", @Model.Sealnumber)
        </td>
    </tr>

    <tr style="margin-bottom: 10px">
        <td width="30%">
            <strong style="border-style: solid; border-color: black; border-width: 1px;">
                Delivery note:
            </strong>
        </td>
        <td style="border-bottom-style: solid; border-color: black; border-bottom-width: 1px">
            @Model.DeliveryNote
        </td>
    </tr>

    <tr style="margin-bottom: 10px">
        <td width="30%">
            <strong>
                Order number:
            </strong>
        </td>
        <td>
            @string.Format("{0}", @Model.Booking.Reference)
        </td>
    </tr>
    <tr style="margin-bottom: 10px">
        <td width="30%">
            <strong>
                Date in:
            </strong>
        </td>
        <td>
            @Model.DateIn
        </td>
    </tr>
    <tr style="margin-bottom: 10px">
        <td width="30%">
            <strong>
                Date out:
            </strong>
        </td>
        <td>
            
        </td>
    </tr>
</table>
<br/>
<div style='font-size:10px'>
    <script>
        "<table border='1'>" +
            "<tr><td><strong>Date</strong></td><td><strong>Reg no</strong></td><td><strong>Supplier</strong></td><td><strong>W/Bridge</strong></td><td><strong>Nett Weight</strong></td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "<tr><td></td><td></td><td></td><td></td><td> </td></tr>" +
            "</table>"
    </script>

    <p><canvas id="canvas" style="border:2px solid black;" width="200" height="200"></canvas>
</div>