@using IntroductionMVC5.Web.Utils.PagedList
@model IntroductionMVC5.Web.Utils.PagedList.IPagedList<IntroductionMVC5.Models.PastelInfo>

<div id="ajaxResponse">
    <div class="row">
        <div class="col-md-12">
            <h3>Proccesed Sale</h3>
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
            <table style="border-bottom: 1px solid #8A8575; margin-bottom: 5px; width:90%" class="table table-bordered">
                <thead>
                    <tr class="info">
                        <th>
                            WB Number
                        </th>
                        <th>
                            Pastel Number
                        </th>
                        <th>
                            Process Date
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr class="active">
                        <td style="margin-right: 150px">
                            @Html.ActionLink(string.Format("{0}", item.WeighBridgeInfo.Id), "WeighBridgePrint", new { id = item.WeighBridgeInfo.Id }, new { @style = "  color: #F6855E;" })
                        </td>
                        <td style="margin-right: 150px;">
                            @Html.ActionLink(string.Format("{0}", item.PastelNumber), "GetPdf", new { FileName = item.FileLocation }, new { @style = "  color: #F6855E;" })
                        </td>
                        <td>
                            @string.Format("{0}", item.Date.ToString("yyyy-MM-dd"))
                        </td>
                        <td>
                            @*                        @if (HomeController.CanEdit)*@
                            @*                        {*@
                            <input class="btn btn-info btn-xs" style="font-size: small;font-weight: lighter; vert-align: middle" type="button" onclick=" location.href='@Url.Action("Edit", "Container", new { id = item.Id })    ' " value=" edit" />

                            @*                        }*@
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
