@model IntroductionMVC5.Models.ArsloTrading.ArsloInvoiceItem

<script type="text/javascript">
    $(document).ready(function () {
        $("#accountSection").hide();

        $('#paymentType').change(function () {
            if ($('#paymentType option:selected').text() == 'Loan') {
                $("#accountSection").show();
            }
            else {
                $("#accountSection").hide();
                $('#paymentType option:selected').text().clear();
            }
        });
    });
</script>
@using (Html.BeginForm("AddInvoiceItem", "PettyCash", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        @*<div class="form-group">
                @Html.LabelFor(model => model.Date)
                @Html.TextBoxFor(model => model.Date, new { @class = "datepicker", @type = "text" })
                @Html.ValidationMessageFor(model => model.Date)
            </div>*@
        @*<div class="form-group">
                @Html.LabelFor(model => model.PaymentType.Type)
                @Html.DropDownList("PaymentType.Id", (SelectList)ViewBag.paymentTypes, string.Empty, new { @id = "paymentType", @class = "form-control", @style = "width: 10px;" })
                @Html.ValidationMessageFor(model => model.PaymentType.Type)
            </div>*@
        @*<div class="form-group" id="accountSection">
                <label>Account</label>
                @Html.DropDownList("Account.Id", (SelectList)ViewBag.Accounts, string.Empty, new { @id = "account", @class = "form-control", @style = "width: 10px;" })
            </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Quantity)
            @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.Price)
        </div>
        @*<div class="row">
                <div class="col-xs-12">
                    <label style="margin-top:5%">Description</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
            <div class="row" style="margin-top:2%">
                <div class="col-xs-12">
                    <label style="margin-top:5%">Quantity</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", @type = "number" })
                    @Html.ValidationMessageFor(model => model.Quantity)
                </div>
            </div>
            <div class="row" style="margin-top:2%">
                <div class="col-xs-12">
                    <label style="margin-top:5%">Price</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @type = "number" })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </div>*@

        <p style="margin-top:5%">
            <input type="button" class="btn btn-primary" data-dismiss="modal" value=" close" />
            <button value="Create" class="btn btn-primary" onclick=" location.href='@Url.Action("AddInvoiceItem", "Arslo")' ">Save</button>
        </p>
    </fieldset>
}
