@model IntroductionMVC5.Models.ArsloTrading.ArsloProfomaItem

<script type="text/javascript">
    $(document).ready(function () {
        $("#accountSection").hide();

        $('#paymentType').change(function () {
            if ($('#paymentType option:selected').text() == 'Loan') {
                $("#accountSection").show();
            }
            else {
                $("#accountSection").hide();
                $('#paymentType option:selected').text().clear();
            }
        });
    });
</script>
@using (Html.BeginForm("AddInvoiceItem", "PettyCash", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Quantity)
            @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @type = "text" })
            @Html.ValidationMessageFor(model => model.Price)
        </div>
        <p style="margin-top:5%">
            <input type="button" class="btn btn-primary" data-dismiss="modal" value=" close" />
            <button value="Create" class="btn btn-primary" onclick=" location.href='@Url.Action("AddInvoiceItem", "Arslo")' ">Add</button>
        </p>
    </fieldset>
}
